In [1]:
import sqlalchemy
import pandas as pd

In [2]:
engine=sqlalchemy.create_engine("mysql+mysqlconnector://:@:/")

In [6]:
df=pd.read_sql_table("sentiment_analysis",engine)

In [7]:
df

,review,date,sentiment,value,id
0,This is a really cute place which serves good ...,2022-10-25,excellent,5,0
1,elaborate menu,2022-11-15,positive,4,1
2,This rare find serves a combination of good co...,2022-11-27,excellent,5,2
3,fresh food,2022-12-11,excellent,5,3
4,Amazing coffee experience at this place . Have...,2022-12-22,excellent,5,4
...,...,...,...,...,...
214,Enjoyed the whole experience! Special mention ...,2024-05-20,positive,4,214
215,"One of the best places to go to, for a vibe, i...",2024-05-25,excellent,5,215
216,The filter coffee was brilliant and so were sn...,2024-05-25,positive,4,216
217,You forgot to send sugar with coffee/the rest ...,2024-05-27,positive,4,217
218,"Many stories with the place,,,,, it has this u...",2024-06-02,excellent,5,218

In [13]:
df_monthly_review=pd.read_sql_query(
'''
select month(date) as month,round(avg(value),2) as avg_value
from sentiment_analysis
group by month(date)
order by month(date)
;
''',engine
)

In [14]:
df_monthly_review.to_dict('records')

[{'month': 1, 'avg_value': 4.29},
 {'month': 2, 'avg_value': 4.76},
 {'month': 3, 'avg_value': 4.72},
 {'month': 4, 'avg_value': 4.0},
 {'month': 5, 'avg_value': 4.39},
 {'month': 6, 'avg_value': 5.0},
 {'month': 7, 'avg_value': 4.27},
 {'month': 8, 'avg_value': 4.0},
 {'month': 9, 'avg_value': 4.85},
 {'month': 10, 'avg_value': 4.3},
 {'month': 11, 'avg_value': 4.0},
 {'month': 12, 'avg_value': 4.39}]

In [15]:
df_yearly_review=pd.read_sql_query(
'''
select year(date) as year,round(avg(value),2) as avg_value
from sentiment_analysis
group by year(date)
order by year(date)
;
''',engine
)

In [20]:
df_yearly_review.to_dict("list")

{'year': [2022, 2023, 2024], 'avg_value': [4.8, 4.41, 4.44]}

In [23]:
sentiment_mapping={
    1:'very negative',
    2:'negative',
    3:'neutral',
    4:'positive',
    5:'excellent'
}

In [24]:
df_yearly_review['average_sentiment']=df_yearly_review['avg_value'].apply(lambda x : sentiment_mapping[round(x)])

In [25]:
df_yearly_review

   year  avg_value average_sentiment
0  2022       4.80         excellent
1  2023       4.41          positive
2  2024       4.44          positive

In [27]:
df_sentiment_count=pd.read_sql_query(
'''
select sentiment,count(sentiment) as `sentiment_count`
from sentiment_analysis
group by sentiment
order by `sentiment_count`;
 ''',engine)

In [28]:

df_sentiment_count

       sentiment  sentiment_count
0        neutral                6
1       negative                8
2  very negative               17
3       positive               21
4      excellent              167

In [31]:
overall_avg_sentiment_count=pd.read_sql_query(
    'select round(avg(value)) as avg_sentiment_count from sentiment_analysis;',engine
)

In [34]:
overall_avg_sentiment_count.to_dict('records')

[{'avg_sentiment_count': 4.0}]

In [36]:
monthly_sentiment_count=pd.read_sql_query('''
select month(date) as `month`,sentiment,count(sentiment) as `monthly_count`
from sentiment_analysis group by `month`,`sentiment`
order by `month`;
''',engine)

In [37]:
monthly_sentiment_count

    month      sentiment  monthly_count
0       1      excellent             11
1       1        neutral              1
2       1  very negative              2
3       2      excellent             16
4       2  very negative              1
5       3      excellent             31
6       3       negative              1
7       3        neutral              1
8       3       positive              6
9       4      excellent             17
10      4       negative              3
11      4        neutral              2
12      4       positive              2
13      4  very negative              3
14      5      excellent             20
15      5       negative              1
16      5        neutral              1
17      5       positive              4
18      5  very negative              2
19      6      excellent              5
20      7      excellent             17
21      7       negative              1
22      7       positive              1
23      7  very negative              3
24      8      excellent              5
25      8       negative              1
26      8       positive              2
27      8  very negative              1
28      9      excellent             17
29      9       positive              3
30     10      excellent              8
31     10       negative              1
32     10  very negative              1
33     11      excellent              6
34     11       positive              2
35     11  very negative              2
36     12      excellent             14
37     12        neutral              1
38     12       positive              1
39     12  very negative              2